// 公共样式
* {
    margin: 0;
    padding: 0;
}

input {
    outline: none;
    height: 30px;
    border: none;
}

button {
    height: 30px;
}

// 头部样式
header {
    margin-left: 200px;
    height: 100px;
    width: 100%;
    #ys {
        line-height: 100px;
        width: 180px;
        float: left;
        #input {
            width: 120px;
        };
    };
    #sf,
    #transparency {
        float: left;
        line-height: 50px;
        width: 100px;
        text-align: center;
        #scale-range,
        #tp-range {
        display: block;
        width: 100px;
        }
    };
    #transparency {
        margin-left: 10px;
    }
}


/* 侧边样式 */

#aside {
    width: 200px;
    height: 500px;
    /* background-color: pink; */
    float: left;
    text-align: center;
    #file {
        padding-top: 2px;
    };
    button {
        width: 200px;
        height: 30px;
        font-size: 16px;
    };
    #btn2 {
        width: 120px;
    };
    #a-btn4 {
        width: 100px;
    };
    #a-btn5 {
        width: 100px;
    };
};

// 画布样式
.huabu {
    position: relative;
    height: 800px;
    width: 1200px;
    float: left;
}





