canvas {
    float: left;
}

.btn {
    float: left;
    button {
        width: 150px;
        height: 40px;
        font-size: 16px;
        border-radius: 10px;
        background-color: pink;
        border: none;
        margin-bottom: 5px;
    }
}